@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './styles/design_system.css';

/* Global Resets specific to App */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: #1F1F1F;
}

#root {
  width: 100%;
  min-height: 100vh;
}